@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url("/ibmplexsans-regular.woff2") format("woff2"),
    url("/ibmplexsans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Medium";
  src: local("IBM Plex Sans Medium"),
    url("/ibmplexsans-medium.woff2") format("woff2"),
    url("/ibmplexsans-medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
dt {
  font-family: "IBM Plex Sans Medium", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #222;
}
a {
  color: #3273dc;
}
nav a {
  margin-right: 0.6em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 2px solid #999;
  color: #222;
  padding: 2px 0 2px 1em;
  margin: 0;
  font-style: italic;
}
blockquote > p {
  margin: 0;
}
table th,
table td {
  vertical-align: top;
}
.title {
  font-size: 2em;
  margin: 0.25em 0;
  line-height: 1.15;
}
hr {
  border: 0;
  margin: 1rem 0;
}
