---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ExperienceSection from "@components/ExperienceSection.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@common/consts";
const isOpenToWork = true;
const yearsWorking = new Date().getFullYear() - 2011;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h3 {
        margin-bottom: 0.3em;
      }
      h3 + p {
        margin-top: 0.3em;
      }
      .skills {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .skills section {
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
      }
      .skills section h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.1em;
        padding: 3px;
      }
      .skills section div {
        background-color: #f7f7f7;
        padding: 3px;
        flex: 1;
      }
      .skills section dl:first-of-type {
        margin-top: 0;
      }
      .skills section dl:last-of-type {
        margin-bottom: 0;
      }
      .skills section dl dt {
        font-weight: bold;
      }
      .skills section dl dd {
        margin-left: 0;
      }
      @media all and (min-width: 640px) {
        .skills section {
          width: 33%;
        }
      }
      @media all and (max-width: 639px) {
        .skills section {
          width: 100%;
          margin-top: 1em;
        }
        .skills section:first-child {
          width: 100%;
          margin-top: 0;
        }
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <section class="no-print">
        <h2>{isOpenToWork ? "Open to work" : "Not open to work"}</h2>

        <p>
          {
            isOpenToWork
              ? "I'm open to new opportunities."
              : "I'm not currently looking for work."
          }
        </p>
      </section>

      <section>
        <h2>Values</h2>

        <p>
          Through {yearsWorking} years of professional experience in software delivery
          and leadership roles, I have found that good software is delivered through
          close customer collaboration and a happy workforce. Guided by the Lean
          and Agile philosophies, I continuously seek opportunities to learn and
          improve. My respect for people fosters an environment that fuels innovation,
          collaboration, and growth. I believe the ability to respond quickly to
          customer demands through clean, easily maintainable code and practices
          like DevOps and continuous deployment is the key to business success.
        </p>
      </section>

      <section>
        <h2>Experience</h2>

        <ExperienceSection
          position="Principal Software Engineer"
          company="Motability Operations"
          startDate="2023-06"
          description=`Managing the technical delivery of and the team
          responsible for the Motability Scheme online account (React, micro
          frontends, Node.js, Java, Spring Boot, Quarkus) to over 700,000
          customers.`
        >
          <ul>
            <li>
              Introduced a process for managing vulnerabilities to the team,
              reducing the MTTR by 85% to &lt;7 days
            </li>
            <li>
              Improved monitoring and alerting for the team, reducing the number
              of alerts developers need to respond to each day by 80%
            </li>
            <li>
              Set quarterly technical OKRs for the team, resulting in the
              modernisation of all frontend applications to React 18 and backend
              applications to Java 17 and latest Spring Boot/Quarkus major
              versions
            </li>
            <li>
              Established an InnerSource programme for sharing code internally
              across Motability Operations, increasing the number of libraries
              created and shared
            </li>
          </ul>
        </ExperienceSection>

        <ExperienceSection
          position="Principal Technical Consultant"
          company="Waracle"
          startDate="2022-11"
          endDate="2023-05"
          description=`Providing technical strategy and advice to some of the
          UK's most pioneering clean tech startups and largest financial
          services and energy providers.`
        >
          <ul>
            <li>
              Developed project proposals for clients, winning over £2M in new
              work
            </li>
            <li>
              Created and shared white papers on technical topics such as
              GitOps, Developer Portals and Compliance as Code, building brand
              awareness
            </li>
          </ul>
        </ExperienceSection>

        <ExperienceSection
          position="Lead Technical Consultant"
          company="Thoughtworks"
          startDate="2016-05"
          endDate="2022-11"
          description=`Leading teams to deliver large scale technology
          modernisation, capability development and digital product development
          for some of UK's leading brands.`
        >
          <ul>
            <li>
              Incrementally replaced a legacy monolithic B2B financial web
              application with a modern microservices (Java, Kotlin, Spring
              Boot, Kubernetes) and micro frontend (React, Node.js)
              architecture, reducing the time for key business processes from
              days to minutes
            </li>
            <li>
              Introduced continuous delivery practices to a leading grocery
              chain, increasing deployment frequency from once a month to
              multiple times a day
            </li>
          </ul>
        </ExperienceSection>

        <ExperienceSection
          position="Chief Technology Officer"
          company="Lenio"
          startDate="2015-09"
          endDate="2016-04"
          description=`Leading the technology function of an early stage
          FinTech startup to build out the technology capability and
          efficiently deliver cross-platform application prototypes (React,
          Ionic, Node.js) for further investment.`
        />

        <ExperienceSection
          position="Head of Mobile"
          company="Powa Technologies"
          startDate="2012-06"
          endDate="2015-09"
          description=`Managing multiple native mobile teams (iOS, Objective-C,
          Swift, Android, Java, Windows Phone, C#) to deliver innovative
          omni-channel retail experiences and mobile payment solutions.`
        />

        <ExperienceSection
          position="Lead Android Developer"
          company="BirdGuides"
          startDate="2010-11"
          endDate="2012-05"
          description=`Developing a native Android application for bird
          enthusiasts.`
        />
      </section>

      <section class="no-print">
        <h2>Skills</h2>

        <div class="skills">
          <section>
            <h3>Management &amp; Leadership</h3>
            <div>
              <dl>
                <dt>People first</dt>
                <dd>121s</dd>
                <dd>Coaching & mentoring</dd>
                <dd>Wellbeing & culture</dd>
                <dd>Performance reviews</dd>
                <dd>Interviews</dd>
                <dd>DevEx</dd>
              </dl>

              <dl>
                <dt>Lean management</dt>
                <dd>OKRs</dd>
                <dd>Engineering management</dd>
                <dd>Lean product management</dd>
                <dd>Team modelling & financial forecasting</dd>
                <dd>Job requirements</dd>
              </dl>

              <dl>
                <dt>Technical leadership</dt>
                <dd>Technical strategy</dd>
                <dd>Solution selection</dd>
                <dd>Presentations</dd>
              </dl>
            </div>
          </section>

          <section>
            <h3>Practices & Techniques</h3>
            <div>
              <dl>
                <dt>Customer focused</dt>
                <dd>Product engineering</dd>
                <dd>Customer support</dd>
                <dd>Incidents, On call</dd>
                <dd>Analytics, Metrics, KPIs</dd>
              </dl>

              <dl>
                <dt>Shifting left</dt>
                <dd>TDD, TBD, Pair programming</dd>
                <dd>DevSecOps, FinOps</dd>
                <dd>Separation of deployment & release, Feature toggles</dd>
                <dd>Testing in production</dd>
              </dl>

              <dl>
                <dt>Continuous delivery</dt>
                <dd>CI/CD</dd>
                <dd>Continuous deployments</dd>
                <dd>Infrastructure as code</dd>
                <dd>Compliance as code</dd>
                <dd>GitOps</dd>
              </dl>

              <dl>
                <dt>Agile</dt>
                <dd>
                  Inception, Discovery, Planning, Retrospectives, Standups
                </dd>
                <dd>Event storming</dd>
                <dd>Lightweight threat modelling</dd>
              </dl>
            </div>
          </section>

          <section>
            <h3>Technology</h3>
            <div>
              <dl>
                <dt>Generalist</dt>
                <dd>
                  Java, TypeScript, C#, Kotlin, Swift, Scala, Bash, Willing to
                  learn
                </dd>
              </dl>

              <dl>
                <dt>Full stack</dt>
                <dd>Backend: Spring, Quarkus, Express, ASP.NET Core</dd>
                <dd>Responsive Web: React, Next.js, Astro</dd>
                <dd>Mobile: iOS, Android</dd>
              </dl>

              <dl>
                <dt>Evolutionary architecture</dt>
                <dd>
                  DDD, Micro services, Micro frontends, Mobile micro features,
                  Serverless, Messaging, Stream processing
                </dd>
                <dd>ADRs</dd>
              </dl>

              <dl>
                <dt>Cloud platforms</dt>
                <dd>AWS, Kubernetes, OpenShift, Docker, Lambda</dd>
              </dl>

              <dl>
                <dt>Operations</dt>
                <dd>Production deployments</dd>
                <dd>Monitoring & alerting</dd>
                <dd>Blameless post-mortems</dd>
                <dd>Operational excellence</dd>
              </dl>
            </div>
          </section>
        </div>
      </section>

      <section>
        <h2>Books that have influenced my thinking</h2>

        <p>
          <a href="https://www.radicalcandor.com/the-book/" target="_blank"
            >Radical Candor</a
          >, <a
            href="https://management30.com/books/managing-for-happiness/"
            target="_blank">Managing for Happiness</a
          >, <a
            href="https://simonsinek.com/books/leaders-eat-last/"
            target="_blank">Leaders Eat Last</a
          >, <a
            href="https://www.superteams.org/www.superteams.org/index.html"
            target="_blank">Superteams</a
          >, <a
            href="https://www.oreilly.com/library/view/lean-enterprise/9781491946527/"
            target="_blank">Lean Enterprise</a
          >,
          <a href="https://itrevolution.com/product/accelerate/" target="_blank"
            >Accelerate</a
          >, <a href="https://projecttoproduct.org" target="_blank"
            >Project to Product</a
          >, <a href="https://teamtopologies.com" target="_blank"
            >Team Topologies</a
          >, <a
            href="https://itrevolution.com/product/the-phoenix-project/"
            target="_blank">The Phoenix Project</a
          >,
          <a
            href="https://www.goodreads.com/book/show/113934.The_Goal"
            target="_blank">The Goal</a
          >, <a
            href="https://press.princeton.edu/books/paperback/9780691164090/qed"
            target="_blank">QED</a
          >
        </p>
      </section>

      <section>
        <h2>Education</h2>

        <ExperienceSection
          position="MSci Theoretical Physics"
          company="Imperial College London"
          startDate="2006-01"
          endDate="2010-06"
          description=`Studying the universe and gravity with computational
          methods (C++, MATLAB).`
        />
      </section>

      <hr class="no-print" />

      <p class="no-print">
        <a href="/joseph-earl-resume.pdf" download
          >Download this page as a PDF</a
        >
      </p>
    </main>
    <Footer />
  </body>
</html>
