---
---

<footer>
  Made with <span class="love">♥</span> using <a
    href="https://astro.build"
    target="_blank">Astro</a
  >. The source code for this website is <a
    href="https://github.com/josephearl/website"
    target="_blank">available on GitHub</a
  >.
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
  .love {
    color: #e31b23;
  }
</style>
