---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const { pathname } = Astro.url;
const isHome = "" === pathname || "" === pathname.replace(/\/$/, "");
const HeaderTag = isHome ? "h1" : "h2";
---

<header>
  <HeaderTag>
    {
      isHome && (
        <img
          src="/avatar.jpg"
          width="40"
          height="40"
          class="avatar"
          alt="A photo of me, Joseph Earl"
        />
      )
    }
    {SITE_TITLE}
  </HeaderTag>
  {
    isHome && (
      <section class="contact only-print" style="display: none">
        <dl>
          <dt>Telephone</dt>
          <dd>
            <a href="tel:+447792444822">07792444822</a>
          </dd>

          <dt>Email</dt>
          <dd>
            <a href="mailto:hello@josephearl.co.uk">hello@josephearl.co.uk</a>
          </dd>

          <dt>LinkedIn</dt>
          <dd>
            <a href="https://uk.linkedin.com/in/josephwearl" target="_blank">
              uk.linkedin.com/in/josephwearl
            </a>
          </dd>

          <dt>GitHub</dt>
          <dd>
            <a href="https://github.com/josephearl/" target="_blank">
              github.com/josephearl{" "}
            </a>
          </dd>
        </dl>
      </section>
    )
  }
  <nav class="no-print">
    <HeaderLink href="/">Profile</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="https://uk.linkedin.com/in/josephwearl" target="_blank">
      LinkedIn
    </HeaderLink>
    <HeaderLink href="https://github.com/josephearl" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h1,
  h2 {
    margin: 0.5em 0;
  }
  .avatar {
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 0.4em;
  }
  .contact dl {
    margin: 0;
  }
  .contact dl dt {
    float: left;
    margin-right: 0.2em;
  }
  .contact dl dt::after {
    content: ":";
  }
  .contact dl dd {
    margin: 0;
  }
</style>
