<script src="{{ .Site.BaseURL }}js/jquery-2.2.4.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<script src="{{ .Site.BaseURL }}js/highlight-9.7.0.js"></script>
<script src="{{ .Site.BaseURL }}js/js.js"></script>

{{ range .Site.Params.customJS }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}

{{ if .Site.Params.enableBaiduAnalytics }}
<script src="{{ .Site.BaseURL }}js/baidu.js" data-id="{{ .Site.Params.baiduAnalytics }}" data-name="baiduAnalytics"></script>
{{ end }}
