<script src="{{ .Site.BaseURL }}js/lunr.js"></script>
<script src="{{ .Site.BaseURL }}js/search.js"></script>
<div id="search-overlay">
    <section class="wrapper">
        <form>
            <p class="search-title">Search</p>
            <p class="search-input-line"><input type="text" maxlength="200" id="search-input" name="query" placeholder="Type to search" /></p>
            <p class="search-help"><label for="search-query">Press <strong class="key">ESC</strong> to close</label></p>
        </form>
        <div id="search-results"></div>
    </section>
</div>
